.gift-button{
    height: 230px;
    width: 300px;
    border: 5px dashed #fff8dc;
    transition: border-color 0.3s ease;
  }
  
  .gift-button:hover,  .gift-button.active{
    border-color: #ff4a2fe9; 
    background-color: #884b00;
  }

  .gift-table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  
  .gift-header{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 80px;
    color: #813800;
    text-shadow: 5px 5px 0px #ff9b20e9;
  }
  
  .gift-image{
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
  }

  p{
    margin:0;
  }

  .user-points{
    position: fixed;
    right: 40px; 
    top: 65px; 
    font-family: 'PixelFont', sans-serif;
    font-size: 30px;
    color: #ff4c20e9;
    text-shadow: 5px 5px 0px #ffa12ee9;
  }

  .checkout-form{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
  }

  .vertical-form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 3px dashed #ff9b20e9;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 30px;
  }
  
  .vertical-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="address"],

  input {
    padding: 12px 13px;
    margin: 5px; 
    border: 2px solid #ff8c00;
    border-radius: 15px;
    font-family: 'PixelFont', sans-serif;
    font-size: 1.5em;
    color: #333;
    background-color: #fff8dc;
    outline: none;
  }
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  